$pr: 5px;

/* color */

$accent: #006be5;
$light-gray: #f4f4f4;
$border-gray: #d9d9d9;
$dark-light-gray: #efefef;
$primary-text-color: #131313;
$primary-text-light-color: #fff;
$dark-gray: #9a9b9b;
$opacity-gray: #bfbebe;
$background-gray: #f7f7f7;
$share-color: #dcdcdc;
$notify-accent: #60d792;
